<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" href="{% url 'newsToday' %}">Moringa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">



    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <form class="navbar-form" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Article" name="article">
          <div class="input-group-btn">
          </div>

      </form>
  </div>
  <div class="col-sm-6 col-md-6">
    {% if user.is_authenticated %}
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
          aria-expanded="false">Account
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="{%url 'newsToday'%}">Home</a>
          </li>
          <li>
          <li>
            <a href="{%url 'new-article'%}">Create Article</a>
          </li>
          <a href="/accounts/password/change">Change Password</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
    </li>
    </ul>
    {% else %}
    <li>
      <a class='btn btn-default' href="/accounts/login">Login</a>
    </li>

    {% endif %}
  </div>
  <!-- search form end -->
  </ul>
  </div>
</nav>
<!--/.Navbar -->